

/* VARIAVEIS */
:root{
    --primary-color: #047380;
    --secundary-color: #3ca6a6;
    --text-color: #024959;
    --background-color: #1f7565;
    --button-hover: #012e40;
    --font-body: "chocolate classical sans", serif;
    --font-titulo:"Rakkas", Serif;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

/* CORPO DA PAGINA */
body{
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}
h3{
    margin-top: 25px;
}

p{
    margin-top: 20px;
}

img{
    max-width: 90%;
    
}

/* CABEÇALHO */

header{
    background: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}